@import './prism/a11y-light.css';
@import './prism/a11y-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml,<svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(-90deg);"><path d="M16 20a.996.996 0 0 1-.707-.293l-5-5a1 1 0 1 1 1.414-1.414l4.292 4.294 4.294-4.293a1 1 0 1 1 1.414 1.414l-5 5A.997.997 0 0 1 16 20Z" fill="currentColor"></path></svg>');
  --color-accent: 204 0 185; /* #CC00B9 */
  --color-accent-hover: 184 0 166; /* #b800a6 */
  --color-onaccent: 255 255 255; /* #FFFFFF */
  --color-surface: 255 255 255; /* #FFFFFF */
  --color-onsurface: 245 245 245; /* #F5F5F5 */
  --color-body: 0 0 0; /* #000000 */
  --color-placeholder: 148 148 148; /* #949494 */
  --color-background: 245 245 245; /* #F5F5F5 */

  /* Docusaurus theme variables */
  --ifm-font-family-base: 'Rubik', sans-serif;
  --ifm-color-primary: rgb(var(--color-accent));
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzIgMzIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9ImFic29sdXRlIHJpZ2h0LTQgdG9wLTEvMiB0cmFuc2l0aW9uLXRyYW5zZm9ybSBkdXJhdGlvbi0zMDAgb3V0LXF1aW50IHRyYW5zZm9ybSBvcmlnaW4tY2VudGVyIC10cmFuc2xhdGUteS0xLzIgdy04IGgtOCByb3RhdGUtMTgwIiBhcmlhLWhpZGRlbj0idHJ1ZSI+PHBhdGggZD0iTTE2IDIwYS45OTYuOTk2IDAgMCAxLS43MDctLjI5M2wtNS01YTEgMSAwIDEgMSAxLjQxNC0xLjQxNGw0LjI5MiA0LjI5NCA0LjI5NC00LjI5M2ExIDEgMCAxIDEgMS40MTQgMS40MTRsLTUgNUEuOTk3Ljk5NyAwIDAgMSAxNiAyMFoiIGZpbGw9ImN1cnJlbnRDb2xvciI+PC9wYXRoPjwvc3ZnPg==');
  --ifm-code-font-size: 0.9rem;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-table-background: rgb(var(--color-background));
  --ifm-table-stripe-background: rgb(var(--color-background));
}

/* Dark theme */
html[data-theme='dark'],
[data-theme='dark'] {
  --color-accent: 249 103 233; /* #F967E9 */
  --color-accent-hover: 248 69 228; /* #f845e4 */
  --color-onaccent: 0 0 0; /* #000000 */
  --color-surface: 38 38 38; /* #202020 */
  --color-onsurface: 28 28 28; /* #323232 */
  --color-body: 255 255 255; /* #FFFFFF */
  --color-placeholder: 148 148 148; /* #949494 */
  --color-background: 28 28 28; /* #323232 */

  /* Docusaurus theme variables */
  --ifm-color-primary: rgb(var(--color-accent));
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-table-background: rgb(var(--color-background));
  --ifm-table-stripe-background: rgb(var(--color-background));
}

body {
  background-color: rgb(var(--color-background));
}

/* Focus outline */
*:focus {
  outline: none;
}

.floating-focus-enabled :focus,
.floating-focus-enabled .focus {
  outline: rgb(var(--color-accent)) solid 2px;
  outline-offset: 8px;
}

/* Selection color */
::selection {
  background-color: rgb(var(--color-accent) / 0.25);
}

::-moz-selection {
  background-color: rgb(var(--color-accent) / 0.25);
}

::-webkit-selection {
  background-color: rgb(var(--color-accent) / 0.25);
}

/* Custom class to hyphenate words */
@media (max-width: 768px) {
  .hyphens-auto {
    hyphens: auto;
  }
}

/* Custom class to hide scrollbar (Chrome, Edge, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Custom class to hide scrollbar (Firefox) */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Better underline styling */
.underline,
.hover\:underline {
  text-underline-offset: 0.15rem;
  text-decoration-thickness: 0.075rem;
  text-decoration-skip-ink: all;
}

p code {
  font-size: 0.9rem;
  vertical-align: top;
}
