.nav-logo {
  width: theme(width.24);
  height: theme(height.12);
}

.navbar {
  padding: 0;
  box-shadow: none;
  background-color: theme(colors.surface);
}

.navbar__inner {
  height: theme(height.16);
  max-width: theme(maxWidth.xl);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: between;
  padding-block: theme(spacing.3);
  padding-inline: theme(spacing.4);

  @media (min-width: theme(screens.lg)) {
    padding-inline: theme(spacing.8);
  }
}

.navbar__items {
  position: relative;
}

.navbar__items > .navbar__link {
  color: theme(colors.accent);
  font-weight: theme(fontWeight.normal);
  text-underline-offset: 0.15rem;
  text-decoration-thickness: 0.075rem;
  padding-inline: theme(spacing.4);
}

.navbar__items > .dropdown {
  background-color: theme(colors.onsurface);
  border-radius: theme(borderRadius.md);
  padding-inline-start: theme(spacing.4);
  margin-inline: theme(spacing.4);
}

.navbar__items > .dropdown > .navbar__link::after {
  display: none;
}

.navbar__items > .navbar__link:hover {
  text-decoration: underline;
}

.navbar__items > .navbar__link--active {
  color: theme(colors.body);
  text-decoration: underline;
}

.navbar__items > .navbar__link--active:hover {
  color: theme(colors.body);
  text-decoration: underline;
}

.navbar__inner > .navbar__items > .navbar__toggle.clean-btn {
  position: absolute;
  right: 0;
  margin: 0;
  padding: theme(spacing.2);
  border-radius: theme(borderRadius.lg);
  background: theme(colors.onsurface);
}

main.container {
  padding: 0;
  margin-top: 0 !important;
  max-width: initial;
  overflow-x: hidden;
}

main.container > .row > .col.col--8 {
  max-width: max-content;
  padding: 0;
}

.footer {
  background-color: theme(colors.surface);
}
