.nav-logo {
  width: theme(width.24);
  height: theme(height.12);
}

.navbar {
  padding: 0;
  box-shadow: none;
  background-color: theme(colors.surface);
  position: relative;
}

.navbar__inner {
  height: theme(height.16);
  max-width: theme(maxWidth.xl);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: between;
  padding-block: theme(spacing.3);
  padding-inline: theme(spacing.4);
}

.navbar-sidebar__items .menu__list-item {
  margin: 0;
}

.navbar-sidebar__item .menu__list-item > .menu__link:not(.menu__link--sublist) {
  padding-block: theme(spacing.4);
  border-top: theme(borderWidth.DEFAULT) solid theme(colors.onsurface);
}

.navbar-sidebar__items .menu__list-item:first-child > .menu__link {
  border-top: none;
}

@media (min-width: theme(screens.lg)) {
  .navbar-sidebar__items .menu__list-item {
    align-self: center;
    margin-right: theme(spacing.8);
    border-top: none;
  }
}

.menu__list-item:not(.menu__list-item--collapsed) .chevron {
  transform: rotate(180deg);
}

.navbar .menu__list-item .menu__link--sublist-caret::after {
  display: none;
}

@media (min-width: theme(screens.lg)) {
  .navbar__inner {
    padding-inline: theme(spacing.8);
  }
}

.navbar__items {
  position: relative;
}

.navbar__items > .navbar__link,
.footer__link-item {
  color: theme(colors.accent);
  font-weight: theme(fontWeight.normal);
  text-underline-offset: 0.15rem;
  text-decoration-thickness: 0.075rem;
  padding-inline: theme(spacing.4);
}

.navbar__items > .dropdown {
  background-color: theme(colors.onsurface);
  border-radius: theme(borderRadius.md);
  padding-inline-start: theme(spacing.4);
  margin-inline: theme(spacing.4);
}

.dropdown__link:not(.dropdown__link--active) {
  color: theme(colors.accent);
}

.navbar__items > .dropdown > .navbar__link::after {
  display: none;
}

.navbar__items > .navbar__link:hover {
  text-decoration: underline;
  text-underline-offset: 0.15rem;
  text-decoration-thickness: 0.075rem;
  text-decoration-skip-ink: all;
}

.navbar__items > .navbar__link--active {
  color: theme(colors.body);
  text-decoration: underline;
  text-underline-offset: 0.15rem;
  text-decoration-thickness: 0.075rem;
  text-decoration-skip-ink: all;
}

.dropdown .navbar__link,
.dropdown__menu,
.menu__list-item {
  font-weight: theme(fontWeight.normal);
}

.navbar .menu__list-item .menu__link--sublist + ul.menu__list .menu__link {
  padding-block: theme(spacing.3);
}

.navbar .dropdown__link.dropdown__link--active,
.menu__link.menu__link--active {
  text-decoration: underline;
  text-underline-offset: 0.15rem;
  text-decoration-thickness: 0.075rem;
  text-decoration-skip-ink: all;
  color: theme(colors.body);
}

.menu__caret::before {
  transform: rotate(-90deg);
}

.menu__caret::after,
.menu__link--sublist-caret::after {
  transform: rotate(270deg);
}

.navbar .dropdown__link--active:hover {
  text-decoration: none;
}

.navbar .dropdown__link--active:hover {
  text-decoration: none;
}

.navbar .menu__link.menu__link--active {
  background: none;
}

.menu__list-item .menu__link {
  color: theme(colors.accent);
}

.menu__link.menu__link--active,
.menu__link.dropdown__link--active {
  color: theme(colors.body);
  text-decoration: underline;
}

.navbar__items > .navbar__link--active:hover {
  color: theme(colors.body);
  text-decoration: underline;
}

.navbar__inner > .navbar__items > .navbar__toggle.clean-btn {
  padding: theme(spacing.2);
  border-radius: theme(borderRadius.lg);
  background: theme(colors.onsurface);
  position: absolute;
  right: 0;
  margin: 0;
}
.navbar-sidebar__close {
  padding: theme(spacing.1);
  border-radius: theme(borderRadius.lg);
  background: theme(colors.onsurface);
}

main.container {
  padding: 0;
  margin-top: 0 !important;
  max-width: initial;
  overflow-x: hidden;
}

main.container > .row > .col.col--8 {
  max-width: max-content;
  padding: 0;
}

.footer {
  background-color: theme(colors.surface);
}

.footer__link-item {
  line-height: theme(lineHeight.normal);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumbs__link svg {
  display: inline;
}

.main-wrapper:not(:has(.theme-doc-markdown)) {
  max-width: theme(maxWidth.md) !important;
  margin-inline: auto;
  padding-inline: theme(spacing.4);
}

.main-wrapper main {
  flex: 1 1 auto;
  padding-block-end: theme(spacing.6);
  overflow: hidden;
}

.main-wrapper:not(:has(.hero, .theme-doc-sidebar-container)) {
  padding-block-start: theme(spacing.6);
}

@media (min-width: theme(screens.sm)) {
  .main-wrapper {
    padding-inline: theme(spacing.8);
  }
  .main-wrapper main {
    padding-block-end: theme(spacing.12);
  }
}

.theme-doc-toc-desktop:has(.table-of-contents) {
  top: 0;
}
