/* Unordered lists cannot be swizzled */
.markdown ol,
article ol {
  margin-inline: auto;
  max-width: theme(maxWidth.md);
  list-style-type: decimal;
}

.markdown ol li,
article ol li {
  margin-left: theme(spacing.7);
}

article > p,
.theme-doc-markdown > p {
  margin-block: theme(spacing.4);
  max-width: theme(maxWidth.prose);
  font-size: theme(fontSize.paragraph);
  line-height: theme(lineHeight.paragraph);
}

.theme-doc-markdown {
  max-width: theme(maxWidth.md);
  margin: auto;
}

h1 {
  line-height: theme(lineHeight.heading-xl);
  font-size: theme(fontSize.mobile-heading-xl);
  font-weight: theme(fontWeight.light);
}

@media (min-width: theme(screens.sm)) {
  h1 {
    font-size: theme(fontSize.heading-xl);
  }
}

.theme-doc-markdown > .markdown-block,
.theme-doc-markdown > img {
  margin-top: theme(spacing.10);
  margin-bottom: theme(spacing.12);
}

.theme-doc-markdown > img {
  display: block !important;
  width: 100%;
}

.theme-doc-markdown > img + p {
  margin-top: -1.5rem;
}

.theme-doc-markdown > .markdown-block:last-child {
  margin-bottom: 0px;
}

@media (min-width: theme(screens.md)) {
  .theme-doc-markdown > .markdown-block {
    margin-bottom: theme(spacing.20);
  }
}
