.codeSampleContainer [role='tabpanel'] h1,
.codeSampleContainer > h1,
.codeSampleContainer > header {
  display: none;
}

.codeSampleContainer [role='tabpanel'] p {
  margin-block: 1rem;
}

.codeSampleContainer p + p {
  margin-top: theme(spacing.4);
}

.codeSampleTabs {
  display: flex;
  margin-bottom: 2rem;
}

.codeSampleTabs li {
  text-underline-offset: 0.15rem;
  text-decoration-thickness: 0.075rem;
  color: rgb(var(--color-accent));
  padding: theme(spacing.3);
  border-radius: 0.5rem;
  background-color: unset;
  font-size: 1rem;
  font-weight: normal;
  white-space: nowrap;
}

.codeSampleTabs li:hover {
  text-decoration-line: underline;
  background-color: unset;
}

.codeSampleTabs li[aria-selected='true'] {
  color: rgb(var(--color-body));
  background-color: rgb(var(--color-surface));
  border: none;
  text-decoration-line: underline;
}
