name: Deploy to PROD on push
'on':
  push:
    branches:
      - main
  workflow_run:
    workflows: ["Automated - Update accessibility data"]
    types:
      - completed

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: 'npm ci && npm run build:prod'
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_APPT_ORG }}'
          channelId: live
          projectId: appt-org
